<section>
    

    <a href="/post/{{id}}">{{title}}</a>

    <p>
        Created By 
        <span>{{user.username}}</span>
        on
        <span>{{format_date created_at}}</span>
    </p>

    <p>{{content}}</p>
</section>