<div class="posts">
  {{#each posts}}
<section>

<div>
<h2><a href="/posts/{{id}}">{{title}}</a></h2>

<p>
  Created by {{User.username}} on {{format_date createdAt}}
</p>
</div>

<div>{{body}}</div>

</section>
  {{/each}}
</div>